<%-include('../layouts/header.ejs') %>

  <%-include('../layouts/sidebar.ejs') %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <div class="content">

        <!-- /.card -->

        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h3 class="card-title" style="line-height: 40px;">Change Password</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <!--modal start-->
            <% if(msg.length> 0){ %>
              <div class="alert alert-danger">
                <%= msg %>
              </div>
              <% } %>
                <% if(msg1.length> 0){ %>
                  <div class="alert alert-success">
                    <%= msg1 %>
                  </div>
                  <% } %>
                    <form action="/updatepassword" method="post">
                      <div class="form-group">
                        <label>old password</label>
                        <input type="password" name="oldpassword" class="form-control" required style="width: 30%;">
                      </div>
                      <div class="form-group">
                        <label>New password</label>
                        <input type="password" name="newpassword" class="form-control" required style="width: 30%;">
                      </div>
                      <div class="form-group">
                        <label>confirm password</label>
                        <input type="password" name="cpassword" class="form-control" required style="width: 30%;">
                      </div>
                      <button type="submit" class="btn btn-success">update password</button>
                    </form>

          </div>
          <!-- /.card-body -->
        </div>
        <!--modal start-->
        <!--modal end -->

        <!-- /.card -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%-include('../layouts/footer.ejs') %>