<%-include('../layouts/header.ejs') %>

  <%-include('../layouts/sidebar.ejs') %>


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <!-- Main content -->
      <div class="content">

        <!-- /.card -->

        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h3 class="card-title" style="line-height: 40px;">Update Profile</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <!--modal start-->
        
                  <form action="/updateprofile" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label>Name</label>
                      <input type="text" name="name" value="<%= n %>" class="form-control">
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" name="email" value="<%= e %>" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="number" name="phone" value="<%= p %>" class="form-control">
                      </div>
                      <div class="form-group">
                        <label>city</label>
                        <input type="text" name="city" value="<%= c %>" class="form-control">
                      </div>
                    <div class="form-group">
                      <label>Address</label>
                      <textarea name="address" class="form-control" ><%= a %></textarea>
                    </div>
                    <div class="form-group">
                      <label>Image</label>
                      <input type="file" name="image" value="<%= img.url %>" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">update profile</button>
                  </form>

          </div>
          <!-- /.card-body -->
        </div>
        <!--modal start-->
        <!--modal end -->

        <!-- /.card -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    <%-include('../layouts/footer.ejs') %>